<p>employees works!</p>

<div class="container" *ngIf="employees">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">PID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let i = index">
        <th scope="row">{{ i }}</th>
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.PID }}</td>
      </tr>
    </tbody>
  </table>
</div>
